@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
html,body {
	height:auto;
	background-color: white;
	color:#000000;
	font-family: "ＭＳ ゴシック",sans-serif;
	margin:0;
}

ul {
    -webkit-padding-start: 0;
    margin:0.1vw 0;
    -webkit-margin-before: 0.1vw;
    -webkit-margin-after: 0.1vw;
    padding:0;
}

p{
    margin:0.1vw 0;
    -webkit-margin-before: 0.1vw;
    -webkit-margin-after: 0.1vw;
}

a {
    font-weight: bold;
    text-decoration:none;
    word-break: break-all;
}

/*メニュー*/
.header-main{
    position: relative;
}
.header-main-sp{
        display: none;
}
.header-main-pc img{
    width: 100%;
}
#nav-toggle{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 42px;
    height: 45px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    background: rgba(160,180,193,.95);
}
.header-navi{
    position: absolute;
    text-align: center;
    top: 10px;
    right: 30px;
}
.header-navi-bar{
    display: inline-block;
    vertical-align: top;
}
.header-navi a{
    color: #fff;
    text-decoration: none;
}

.header-navi p{
    color: #fff;
    font-size: 1rem;
    margin-top: 6px;
}
/*メニューボタン*/
#nav-toggle span {
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 4px;
    left: 6px;
}
#nav-toggle span:nth-child(1) {
    top: 10px;
}
#nav-toggle span:nth-child(2) {
    top: 20px;
}
#nav-toggle span:nth-child(3) {
    top: 30px;
}
#nav-toggle span:nth-child(4) {
    display: block;
    background: none;
    top: 23px;
    left: 2px;
    color: #fff;
    font-weight: bold;
}
#nav-toggle span:nth-child(5) {
    display: none;
    background: none;
    top: 32px;
    right: -8px;
    color: #fff;
    font-weight: bold;
}
/*メニューボタン表示時の背景*/
#overlay {
    display: none;
    position: fixed;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*トップに戻るボタン*/
.top{
    text-align: right;
    margin: 30px 0;
}
#page-top img{
    width: 70px;
}
/*フッター*/
footer {
    margin-top: auto;
    background-color: #004ea2;
    width: 100%;
    padding: 1vw 0;
    text-align: center;
    color: white;
    clear: both;
}
/*メイン*/
.base-content {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 700px;
}
.main-content {
    padding: 30px 10px;
}
.main-content a {
    text-decoration: none;
}
/*メイン（タイトル）*/
.content-title {
    margin :30px 0;
}
h3.title-text{
    background-image:url(../img/content-title.png);
    background-repeat:  no-repeat;
    background-size:100% 29px;
    background-position: bottom;
    padding-bottom: 10px;
}
/*コンテンツ*/
.content-block{
    margin: 20px 0;
    line-height: 1.5;
}

.content-text{
   margin: 10px 0; 
}
.content-block .content-text p{
   margin: 5px 0; 
   
}
p.text-indent{
    text-indent: -1em;
    padding-left: 1em;
}


/*高知先端パワー企業グループとは------------*/
/*代表------------*/
.content-representative {
    font-size: 1.2rem;
    display: inline-block;
    width: 45%;
}
.representative-img{
    width: 35%;
    margin-right: 10px;
    display: inline-block;

}
.representative-img img{
    width: 100%;
}
.representative-text{
    
    display: inline-block;
}
/*沿革------------*/
.history{
    margin: 15px 0;
    display: flex;
}
.content-year{
    color: #2380b2;
    width:8%;
    display: inline-block;
}
.content-year .year{
    white-space: nowrap;
    width: 59%;
    float: left;
    text-align: left;
}
.content-year .month{
    white-space: nowrap;
    width: 41%;
    float: right;
    text-align: right;
}
.content-history{
    width: 88%;
    margin-left: 20px;
    display: inline-block;
}
.introduction-block{
    display: inline-block;
    margin: 0px 20px 20px 0px;
    width: 45%;
}
.introduction-block img{
    display: inline-block;
    width: 100%;
}
/*　スライドメニュー　*/
.menu-bar {
    color: #fff;
    display: block;
    padding: 1rem;
    margin-bottom: 10px; 
}
.menu-slide {
    display: none;
}
/*会員企業紹介------------*/

.member-menu {
  background: linear-gradient(135deg, #3e3d2d, #345c30, #6b8d46);
  
}
.member-menu + .menu-slide {
  padding: 20px 10px;
}
.member-content {
    font-size: 0;
}
.member-content.left {
    padding: 0;
    padding-right: 10px;
    border-right: 2px solid #2f2623;
}
.member-main img{
    width: 100%;
}
.member-block{
    font-size: 1rem;
    width: 100%;
    display: inline-block;
    padding: 10px 5px;
    position: relative;
    text-align: left;
    margin-top: -2px;
}
.member-block:nth-child(even){
    border: none;
}
.member-block:after{
    content: "";
    position: absolute;
    border-bottom: 2px solid #2f2623;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 0;
    margin-left: -5px;
    
}
.member-block h3 {
    margin-bottom: 10px;
}
.member-text a{
    color: #1d2088;
    text-decoration: underline;
}
.member-img{
    width: 30%;
    display: inline-block;
}
.member-img img{
    width: 100%;
}
.member-text {
    width: 67%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
    float: right;
}
.member-text p{
    margin: 10px 0;
    height: 3rem;
}
a.member-button {
    display: inline-block;
    line-height: 1em;  
    text-align: center;
    padding: 10px;
    margin: 2px;
    text-decoration: none;
    color: #fff;
    border-radius : 10px;      
}

.member-job .employee {
    background: linear-gradient(135deg, #37336f, #4b6eb4);
}
.member-job .new-graduate {
    background-color: #3a92d1;
}
.member-job .halfway {
    background-color: #f0862c;
}
.shadow{
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
/*グループの活動紹介*/
.active-block{
    margin: 50px 0;
}
.active-img {
    width: 40%;
    margin-right: 20px;
    display: inline-block;
}
.active-img img {
    width: 100%;
}
.active-content {
    width: 54%;
    display: inline-block;
    vertical-align: top;
}
.active-content h3 {
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    background: linear-gradient(135deg, #511917, #772a22, #983627);
}
.active-content p{
    line-height: 1.5;
}
/*先輩たちの就職活動*/
.area-menu {
  background: linear-gradient(135deg, #36316d, #425292, #4c6fb5);

}
.area-menu + .menu-slide {
  padding: 20px 10px;
}
.location-block, .area-block{
    margin:0 20px;
}

.area-block ul {
    list-style-type: none;
}
.area-block ul > li {
    width: 49%;
    display: inline-block;
    margin-bottom: 10px;
}
.area-block ul > li a{
    color: #004ea2;
    text-decoration: underline;
}

/*先輩たちの就職活動（インタビュー）*/
/*パンくずリスト*/
.pankuzu {
    margin:30px 0;
}
.pankuzu ul {
    list-style: none;
}
.pankuzu ul > li {
    display: inline-block;
    position: relative;
    margin-right: 1.3rem;
}
.pankuzu ul > li:before {
    content: "▶";
    color: #4c70b7;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: -1.5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    
}
.pankuzu ul > li:last-child::before {
    content: normal;
}
/*インタビュー一覧*/
.interview-block {
    display: inline-block;
    width: 43%;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, .5);
}
.interview-img {
    display: inline-block;
    width: 30%;
    margin-right: 20px;
    padding: 10px 0;
    
}
.interview-img img{
    width: 100%;
}
.interview-content {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    line-height: 1.5rem;
}
.interview-content a {
    text-decoration: underline;
    font-size: 1.2rem;
    color: #004ea2;
}
.interview-content p.school {
    font-weight: bold;
}
/*質問一覧*/
.question-block {
    padding: 20px 30px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, .6);
}
.question-block .interview-block {
    width: 100%;
    box-shadow: none;
    padding: 0;
    margin-bottom: 30px;
}
.question-block .interview-img {
    width: 14%;
}
.question-block .interview-content {
    width: 70%;
}
.q-and-a {
    margin-bottom: 30px;
}

.q-and-a .question{
    font-weight: bold;
    margin-bottom: 13px;
    color: #0068b7;
}
.q-and-a .question,.q-and-a .answer {
    position: relative;
    margin-left: 2rem;
}
.q-and-a .question:before,.q-and-a .answer:before {
    position: absolute;
    line-height: 1rem;
    font-size: 1.2rem;
    top: 0;
    left: -1.8rem;
    
}
.q-and-a .question:before {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "Q";
    padding: 3px 5px;
    color: #fff;
    background-color: #0068b7;
}
.q-and-a .answer:before {
    content: "A";
    color: #0068b7;
    padding: 2px 4px;
    border: #0068b7 solid 1px;
}
@media all and (max-width: 1024px) {

    .content-year {
        width: 12%;
    }
    .content-year .year {
        width: 56%;
    }
    .content-year .month {
        width: 43%;
    }
}