@charset "UTF-8";
html,body {
    font-size: 1.1rem;
}
p{
    font-size: 1.1rem;
}
#nav-toggle{
    display: block;
    z-index: 400;
}

.header-navi {
    z-index: 300;
    top: 0px;
    right: -300px;
    padding:60px 0px;
    width: 220px;
    height: 100%;
    background: rgba(160,180,193,.95);
    position: fixed;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
.header-navi-bar{
    display: block;
    text-align: left;
    padding:  5px 15px;
    margin: 15px 0;
}
.header-navi-bar p{
    display: none;
}
.header-navi-bar a{
    display: block;
}
.active{
    background-color: #fff;
    padding:10px 15px;
}
.active a{
    color: #a1b3c0;
}
.open {
    overflow: hidden;
}
.open #overlay {
    display: block;
}
.open #nav-toggle{
    background: rgba(160,180,193,0);
    transform: translateX(-170px);
    transition: transform 300ms ease-in-out;
}
.open .header-navi {
    transform: translateX(-300px);
    transition: transform 200ms ease-in-out;
}

/*閉じるボタン変形*/
.open #nav-toggle span:nth-child(1) {
    top: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
}
.open #nav-toggle span:nth-child(3) {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}  
/* 閉じるボタン変形*/

.main-content{
    padding: 10px;
    min-height: 500px;
}
.header-main-pc{
    display: none;
}
.header-main-sp{
    display: block;
}
.header-main-sp img{
    width: 100%;
}
.top {
    padding: 10px;
    margin: 0;
}
/*高知先端パワー企業グループとは------------*/
/*代表------------*/

.content-representative {
    width: 47%;
    font-size: 1rem;
    text-align: center;
    vertical-align: top;
}
.representative-img {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}
.representative-text {
    display: block;
}

/*沿革------------*/
.history{
    
    display: block;
}
.content-year {
    width: 34%;
    margin-bottom: 5px;
}
.content-history {
    margin: 0;
    width: 100%;
    margin-bottom: 5px; 

}
.introduction-block{
    width: 100%;
    margin: 10px 0;
}
#page-top img{
    width: 60px;
}

/*会員企業紹介*/

.member-content {
    padding: 0;
    width: 100%;
}
.member-content.left {
    padding: 0;
    border: none;
}
.member-block {
    width:auto;
    border: none;
    margin: 0;
}
.member-block:after {
    margin: 0;
}
.member-block:last-child:after {
    border: none;
}
.member-content.left .member-block:last-child {
    border-bottom: 2px solid #2f2623;
}
.member-text p{
    height: auto;
}
/*グループの活動紹介*/
.active-img {
    margin: 0;
    width: 100%;
}
.active-content {
    width: 100%;
}
.active-content h3 {
    margin: 0;
    margin: 15px 0;
}
/*先輩たちの就職活動*/
.area-block ul > li {
    width: 100%;
}
/*パンくずリスト*/
.pankuzu {
    margin: 10px 0;
}
.pankuzu ul {
    line-height: 1.5rem;
}
/*インタビュー一覧*/
.interview-block {
    width: 95%;
    padding: 10px;    
}
.interview-img {
    margin: 0;
    padding:10px 5px;
}
/*質問一覧*/
.question-block {
    padding:10px;
}
.question-block .interview-img {
    width: 25%;
}
.question-block .interview-content {
    width: 65%;
}